@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1040px;
}
body {
  background: #fcfcfa;
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}
body > p, li > p {
  line-height 1.5em;
}
/* body > p {
  width: 720px;
} */

aside {
  float: left;
  margin-right: .5em;
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}

header, footer,  aside, h1, h2, h3, h4 {
  font-family: "PT Sans", sans-serif;
}

header, footer {
  font-size: small;
}

svg {
  font: 10px sans-serif;
  height: 550px;
}

footer {
  margin-top: 40px;
}

#map {
  width: 880;
  height: 600px;
  margin-left: 40px;
  margin-right: 40px;
} 